<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu8h6JzkC4f7k-v7KDzJKEaLIumtP42zs</string>
	<key>GCM_SENDER_ID</key>
	<string>803289000101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterResources</string>
	<key>PROJECT_ID</key>
	<string>waterproject-8c1a3</string>
	<key>STORAGE_BUCKET</key>
	<string>waterproject-8c1a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803289000101:ios:9361136c095c96c219054c</string>
</dict>
</plist>